/* font-family: "RobotoSlabRegular"; */
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabLight"; */

@font-face {
    font-family: "DroidSerifItalic";
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot");
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.woff") format("woff"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/montserrat-regular.eot');
    src: url('../fonts/Montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-regular.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserratbold/montserrat-bold.eot');
    src: url('../fonts/Montserratbold/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserratbold/montserrat-bold.woff') format('woff'),
         url('../fonts/Montserratbold/montserrat-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}