* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
/*Шрифты*/
@font-face {
  font-family: "RobotoSlabRegular";
  src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
  src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"), url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "DroidSerifItalic";
  src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot");
  src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerifItalic/DroidSerifItalic.woff") format("woff"), url("../fonts/DroidSerifItalic/DroidSerifItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/montserrat-regular.eot');
  src: url('../fonts/Montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat/montserrat-regular.woff') format('woff'), url('../fonts/Montserrat/montserrat-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserratbold/montserrat-bold.eot');
  src: url('../fonts/Montserratbold/montserrat-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserratbold/montserrat-bold.woff') format('woff'), url('../fonts/Montserratbold/montserrat-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/*Переменные*/
/*Mixins*/
.sprite {
  background: url(..//images/social_icon-sprites/spritesheet.png) no-repeat;
  display: inline-block;
  margin: 0 2px 0 3px;
  vertical-align: middle;
}
.sprite.sprite-facebook {
  background-position: -5px -5px;
  width: 41px;
  height: 41px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.sprite.sprite-facebook:hover {
  background-position: -56px -5px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-facebook_footer {
  background-position: -56px -5px;
  width: 41px;
  height: 40px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.sprite.sprite-facebook_footer:hover {
  background-position: -5px -5px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-google_plus {
  background-position: -107px -5px;
  width: 41px;
  height: 41px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.sprite.sprite-google_plus:hover {
  background-position: -158px -5px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-google_plus_footer {
  background-position: -158px -5px;
  width: 41px;
  height: 40px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.sprite.sprite-google_plus_footer:hover {
  background-position: -107px -5px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-pinterest {
  background-position: -209px -5px;
  width: 41px;
  height: 41px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.sprite.sprite-pinterest:hover {
  background-position: -260px -5px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-pinterest_footer {
  background-position: -260px -5px;
  width: 41px;
  height: 40px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.sprite.sprite-pinterest_footer:hover {
  background-position: -209px -5px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-twitter {
  background-position: -311px -5px;
  width: 41px;
  height: 41px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.sprite.sprite-twitter:hover {
  background-position: -362px -5px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-twitter_footer {
  background-position: -362px -5px;
  width: 41px;
  height: 40px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.sprite.sprite-twitter_footer:hover {
  background-position: -311px -5px;
  width: 41px;
  height: 40px;
}
/*Общие стили */
body {
  background-color: #232323;
}
a {
  text-decoration: none;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.block {
  padding: 120px 0;
  text-align: center;
}
.title {
  font: bold 40px 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title_item {
  font: 16px 'DroidSerifItalic', serif;
  color: #777777;
  margin-bottom: 75px;
}
.placeholder-style {
  font: bold 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
}
/*Шапка*/
.header {
  position: absolute;
  top: 41px;
  width: 100%;
}
.header .container:after {
  display: block;
  content: "";
  clear: both;
}
.logo {
  float: left;
}
.logo:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.menu {
  float: right;
  padding-top: 9px;
}
.menu_item {
  font: 15px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
.menu_link {
  display: inline;
  padding-left: 40px;
}
.menu_link:first-child {
  padding-left: 0;
}
.menu_link_item {
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu_link_item:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/*Фоновое изображение*/
.home {
  background: url(../images/background-top.jpg) no-repeat center bottom;
  background-size: cover;
  height: 700px;
  color: #ffffff;
  text-align: center;
}
.headline {
  padding-top: 270px;
  margin-bottom: 20px;
  font: 40px 'DroidSerifItalic', serif;
}
.headline_item {
  margin-bottom: 40px;
  font: bold 75px 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.button {
  width: 235px;
  height: 63px;
  color: #ffffff;
  background-color: #fed136;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 0.3s ease-in 0s;
  -moz-transition: background 0.3s ease-in 0s;
  -o-transition: background 0.3s ease-in 0s;
  transition: background 0.3s ease-in 0s;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font: bold 18px 'Montserrat', sans-serif;
}
.button:hover {
  border: 1px solid #deb833;
  color: #ffffff;
  background: #deb833;
}
.button:active {
  box-shadow: 3px 3px 12px #aa9448 inset;
  top: 1px;
}
/*Service*/
.services {
  background-color: #ffffff;
}
.services_item {
  width: 33%;
  display: inline-block;
  padding-top: 90px;
}
.service_name {
  margin-bottom: 10px;
  font: bold 18px 'Montserrat', sans-serif;
}
.service_name_item {
  font: 14px 'RobotoSlabRegular', serif;
  color: #777777;
  line-height: 1.6;
  padding: 0 10px;
}
.e-commerce {
  background: url(..//images/services-1.png) no-repeat top;
}
.responsive_web {
  background: url(..//images/services-2.png) no-repeat top;
}
.web_security {
  background: url(..//images/services-3.png) no-repeat top;
}
/*Portfolio*/
.portfolio {
  background-color: #f7f7f7;
}
.portfolio .container:after {
  display: block;
  content: "";
  clear: both;
}
.portfolio_item {
  float: left;
  width: 30.95%;
  margin: 0 33px 50px 0;
  padding-bottom: 30px;
  background: #ffffff;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.portfolio_item:hover {
  -webkit-box-shadow: 0 0 16px 0px rgba(56, 61, 59, 0.4);
  -moz-box-shadow: 0 0 16px 0px rgba(56, 61, 59, 0.4);
  box-shadow: 0 0 16px 0px rgba(56, 61, 59, 0.4);
}
.portfolio_item:nth-of-type(3n) {
  margin-right: 0;
}
.portfolio_item img {
  width: 100%;
}
.portfolio_item_link {
  display: block;
  height: 301px;
  overflow: hidden;
}
.portfolio_item_link img {
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.portfolio_item_link img:hover {
  -webkit-transform: scale(1.15) scale(1.15);
  -moz-transform: scale(1.15) scale(1.15);
  -ms-transform: scale(1.15) scale(1.15);
  -o-transform: scale(1.15) scale(1.15);
}
.portfolio_name {
  padding-top: 20px;
  font: bold 18px 'Montserrat', sans-serif;
}
.portfolio_name_item {
  padding-top: 5px;
  font: 16px 'DroidSerifItalic', serif;
  color: #777777;
}
/*About Us*/
.aboutus {
  background-color: #ffffff;
}
.aboutus_item:after {
  display: block;
  content: "";
  clear: both;
}
.left_article {
  width: 35%;
  float: left;
  text-align: right;
}
.right_article {
  width: 35%;
  float: right;
  text-align: left;
}
.aboutus_title {
  font: bold 18px 'Montserrat', sans-serif;
  line-height: 1.5;
}
.aboutus_text {
  font: 14px 'RobotoSlabRegular', serif;
  color: #777777;
  line-height: 1.5;
  margin-top: 6px;
}
.aboutus_image {
  width: 30%;
  position: relative;
}
.aboutus_image img {
  display: inline-block;
  border: 7px solid #f1f1f1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.aboutus_image:after {
  display: block;
  content: '';
  height: 94px;
  width: 3px;
  background: #f1f1f1;
  margin: 0 auto;
}
.left_image {
  float: left;
}
.right_image {
  float: right;
}
.image_link {
  display: block;
  height: 182px;
}
.mask {
  position: absolute;
  right: 50px;
  top: 0;
  height: 183px;
  width: 183px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.image_link:hover .mask {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.last-mask {
  top: 1px;
}
.mask_item {
  position: absolute;
  top: 55px;
  left: 40px;
  width: 100px;
  font: 16px 'Montserrat', sans-serif;
  color: #ffffff;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  visibility: hidden;
}
.left_mask {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.right_mask {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.mask_item_info {
  position: absolute;
  top: 80px;
  left: 42px;
  width: 100px;
  font: 16px 'Montserrat', sans-serif;
  color: #ffffff;
  -webkit-transition: all 0.3s linear 0.2s;
  -moz-transition: all 0.3s linear 0.2s;
  -o-transition: all 0.3s linear 0.2s;
  transition: all 0.3s linear 0.2s;
  visibility: hidden;
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -o-transform: translateY(200%);
  transform: translateY(200%);
}
.last-mask_item {
  top: 53px;
}
.aboutus_image a:hover .mask_item {
  visibility: visible;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.aboutus_image a:hover .mask_item_info {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.aboutus_link {
  height: 170px;
  width: 170px;
  border: 7px solid #f1f1f1;
  background-color: #fed136;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.aboutus_link:hover {
  background-color: #e0af07;
}
.aboutus_item_link {
  display: block;
  font: bold 18px/1.5 'Montserrat', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 35px;
}
/*Team*/
.our_amazing_team {
  background-color: #f7f7f7;
}
.our_amazing_team_item {
  width: 33%;
  display: inline-block;
}
.team_name {
  font: bold 16px 'Montserrat', sans-serif;
  padding-bottom: 5px;
}
.team_name:before {
  content: "";
  display: block;
  width: 239px;
  height: 239px;
  background: #000;
  margin: 0 auto 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.team_profession {
  font: 14px 'RobotoSlabRegular', serif;
  color: #777777;
}
.social {
  padding-top: 10px;
}
.social_item {
  width: 64%;
  margin: 50px auto 0;
  font: 16px 'RobotoSlabRegular', serif;
  color: #777777;
  line-height: 1.5;
}
/*Partners*/
.partners {
  background: #ffffff;
}
.partners .container {
  padding: 40px 0;
  text-align: center;
}
.partners_link {
  vertical-align: middle;
  display: inline-block;
  padding: 10px 30px;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.partners_link:hover {
  -webkit-box-shadow: 0 0 16px 0px rgba(56, 61, 59, 0.4);
  -moz-box-shadow: 0 0 16px 0px rgba(56, 61, 59, 0.4);
  box-shadow: 0 0 16px 0px rgba(56, 61, 59, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/*Contact*/
.contact {
  color: #ffffff;
  background-color: #222222;
  background: url(..//images/map.png) no-repeat center;
  background-size: cover;
}
.form_template:after {
  display: block;
  content: "";
  clear: both;
  width: 900px;
}
.text_input {
  width: 48%;
  float: left;
}
.text_area {
  float: right;
  width: 48%;
}
.text_item {
  background: #ffffff;
  width: 100%;
  height: 50px;
  display: block;
  font: bold 17px 'RobotoSlabRegular', serif;
  color: #777777;
  border: 1px solid #cccccc;
  margin-bottom: 30px;
  padding: 15px 20px;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: box-shadow 0.3s linear 0s;
  -moz-transition: box-shadow 0.3s linear 0s;
  -o-transition: box-shadow 0.3s linear 0s;
  transition: box-shadow 0.3s linear 0s;
  resize: none;
}
.text_item:focus {
  -webkit-box-shadow: 1px 1px 7px 4px #eb1a1a;
  -moz-box-shadow: 1px 1px 7px 4px #eb1a1a;
  box-shadow: 1px 1px 7px 4px #eb1a1a;
}
.text_item::-webkit-input-placeholder {
  font: bold 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.text_item::-moz-placeholder {
  font: bold 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
}
.text_item:-ms-input-placeholder {
  font: bold 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
}
.text_item:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.text_item:focus::-moz-placeholder {
  color: transparent;
}
.text_item:focus::-ms-input-placeholder {
  color: transparent;
}
.textarea_item {
  background: #ffffff;
  width: 100%;
  height: 210px;
  display: block;
  font: bold 17px 'RobotoSlabRegular', serif;
  color: #777777;
  border: 1px solid #cccccc;
  margin-bottom: 30px;
  padding: 15px 20px;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: box-shadow 0.3s linear 0s;
  -moz-transition: box-shadow 0.3s linear 0s;
  -o-transition: box-shadow 0.3s linear 0s;
  transition: box-shadow 0.3s linear 0s;
  resize: none;
}
.textarea_item:focus {
  -webkit-box-shadow: 1px 1px 7px 4px #eb1a1a;
  -moz-box-shadow: 1px 1px 7px 4px #eb1a1a;
  box-shadow: 1px 1px 7px 4px #eb1a1a;
}
.textarea_item::-webkit-input-placeholder {
  font: bold 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
}
.textarea_item::-moz-placeholder {
  font: bold 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
}
.textarea_item:-ms-input-placeholder {
  font: bold 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
}
.textarea_item:focus::-webkit-input-placeholder {
  color: transparent;
}
.textarea_item:focus::-moz-placeholder {
  color: transparent;
}
.textarea_item:focus::-ms-input-placeholder {
  color: transparent;
}
/*Footer*/
.footer {
  background-color: #ffffff;
  padding: 25px 0;
}
.footer_item:after {
  display: block;
  content: "";
  clear: both;
}
.copyright {
  width: 30%;
  float: left;
  margin-top: 11px;
  font: 14px 'Montserrat', sans-serif;
  color: #818181;
}
.social_footer {
  width: 22%;
  margin: 0 auto;
}
