* {
	margin: 0;
	padding: 0; 
	border: 0;
	list-style: none;
}

/*Шрифты*/

@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DroidSerifItalic";
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot");
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.woff") format("woff"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/montserrat-regular.eot');
    src: url('../fonts/Montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-regular.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserratbold/montserrat-bold.eot');
    src: url('../fonts/Montserratbold/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserratbold/montserrat-bold.woff') format('woff'),
         url('../fonts/Montserratbold/montserrat-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*Переменные*/

@content-max-width: 1240px;;
@content-min-width: 100px;

@white: #fff;
@grey: #777777;

@montserrat: 'Montserrat', sans-serif;
@droid: 'DroidSerifItalic', serif;
@roboto:'RobotoSlabRegular', serif; 

/*Mixins*/

.radius (@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.box-shadow (@x, @y, @blur, @spread, @color) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	box-shadow: @arguments;
}

.opacity (@opacity) {
	-webkit-opacity: @opacity;
	-moz-opacity: @opacity;
	opacity: @opacity;
}
 
.transition (@property: all, @duration: 0.6s, @function: ease, @delay: 0s) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform_scale (@x, @y) {
	-webkit-transform: scale(@x) scale(@y);
	-moz-transform: scale(@x) scale(@y);
	-ms-transform: scale(@x) scale(@y);
	-o-transform: scale(@x) scale(@y);
}

.transform_translateX (@x) {
	-webkit-transform: translateX(@x);
	-moz-transform: translateX(@x);
	-ms-transform: translateX(@x);
	-o-transform: translateX(@x);
	transform: translateX(@x);
}

.transform_translateY (@y) {
	-webkit-transform: translateY(@y);
	-moz-transform: translateY(@y);
	-ms-transform: translateY(@y);
	-o-transform: translateY(@y);
	transform: translateY(@y);
}

.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}
.sprite {
    background: url(..//images/social_icon-sprites/spritesheet.png) no-repeat;
    display: inline-block;
    margin: 0 2px 0 3px;
    vertical-align: middle;

    &.sprite-facebook {
        .stitches-sprite(-5px, -5px, 41px, 41px);
        .transition;
    }
    &.sprite-facebook:hover {
        .stitches-sprite(-56px, -5px, 41px, 40px);
    }
	&.sprite-facebook_footer {
        .stitches-sprite(-56px, -5px, 41px, 40px);
        .transition;
    }
    &.sprite-facebook_footer:hover {
        .stitches-sprite(-5px, -5px, 41px, 40px);
    }
	&.sprite-google_plus {
        .stitches-sprite(-107px, -5px, 41px, 41px);
        .transition;
    }
	&.sprite-google_plus:hover {
        .stitches-sprite(-158px, -5px, 41px, 40px);
    }
	&.sprite-google_plus_footer {
        .stitches-sprite(-158px, -5px, 41px, 40px);
        .transition;
    }
    &.sprite-google_plus_footer:hover {
        .stitches-sprite(-107px, -5px, 41px, 40px);
    }
	&.sprite-pinterest {
        .stitches-sprite(-209px, -5px, 41px, 41px);
        .transition;
    }
    &.sprite-pinterest:hover {
        .stitches-sprite(-260px, -5px, 41px, 40px);
    }
	&.sprite-pinterest_footer {
        .stitches-sprite(-260px, -5px, 41px, 40px);
        .transition;
    }
    &.sprite-pinterest_footer:hover {
        .stitches-sprite(-209px, -5px, 41px, 40px);
    }
	&.sprite-twitter {
        .stitches-sprite(-311px, -5px, 41px, 41px);
        .transition;
    }
    &.sprite-twitter:hover {
        .stitches-sprite(-362px, -5px, 41px, 40px);
    }
	&.sprite-twitter_footer {
        .stitches-sprite(-362px, -5px, 41px, 40px);
        .transition;
    }
	&.sprite-twitter_footer:hover {
        .stitches-sprite(-311px, -5px, 41px, 40px);
	}
}

/*Общие стили */
					
body {
	background-color: #232323;
}

a { 
	text-decoration: none;
}

.clear() {
	display: block;
	content: "";
	clear: both;
}

.container {

	min-width: @content-min-width;
	max-width: @content-max-width;
	
	padding: 0 20px;
	margin: 0 auto;
}

.block {
	padding: 120px 0;
    
    text-align: center;
}

.block_title {
	font: bold 40px @montserrat; 
	text-transform: uppercase;

	margin-bottom: 10px;
}

.block_subtitle {
	font: 16px @droid;
	color: @grey;

	margin-bottom: 75px;
}

.placeholder-style {
	font: bold 14px @montserrat;
	text-transform: uppercase;
	color: #bbbbbb;
}

.button-style (@width, @height, @color, @background-color) {
	width: @width;
	height: @height;
	color: @color;
	background-color: @background-color;
}

/*Шапка*/

.banner_wrapper {
	background: url(../images/background-top.jpg) no-repeat center bottom;
	background-size: cover;
	height: 700px;	
	
	color: @white;
	text-align: center;
}

.header {
	width: 100%;
	padding-top: 40px;

	& .container:after {
		.clear();
	}
};

.logo {
	display: block;
	float: left;

	&:hover {
		.opacity(0.8); 
		.transition;
	}
}

.menu {
	padding-top: 9px;
	float: right;
}

.menu_list {
	font: 15px @montserrat;
	text-transform: uppercase;
	color: @white;

	&:after {
		.clear();
	}
}

.menu_list_item {
	display: inline-block;
	padding-left: 40px;

	&:first-child {
		padding-left: 0;
	}
}

.menu_link {
	color: @white;
	
	.transition(all, 0.3s, ease, 0s);

	&:hover {
		.opacity(0.5); 
	}
}

#icon_menu {
	width: 40px;
	height: 35px;

	display: none;
	cursor: pointer;
}

.icon-bar {
	display: block;
	height: 6px;
	width: 40px;
	background-color: #fff;
	
	margin-bottom: 6px;
}

.banner_slogan {
	margin-top: 200px ;
}

.headline {
	margin-bottom: 20px;
		
	font: 40px @droid;
}

.headline span {
	margin-bottom: 40px;
	
	font: bold 75px @montserrat; 
	text-transform: uppercase;
}

.button {
	.button-style (235px, 63px, @white, #fed136);
	.radius(3px);
	.transition(background, 0.3s, ease-in, 0s);
	
	position: relative;
	
	text-transform: uppercase;
	cursor: pointer;
	font: bold 18px @montserrat;

	&:hover {
		border: 1px solid #deb833;
		color: @white;
		background: #deb833;
	}

	&:active {
		box-shadow: 3px 3px 12px #aa9448 inset;
	    top: 1px;
	}
}

/*Service*/

.services {
	background-color: @white;
}

.post {
	width: 31.7%;
	display: inline-block;
	vertical-align: top;	
}

.services .post {
	padding-top: 90px;
}

.service_name {
	margin-bottom: 10px;
	
	font: bold 18px @montserrat; 
}

.service_text {
	font: 14px @roboto;
	color: @grey;
	
	line-height: 1.6;
	padding: 0 10px;
}

.e-commerce {
	background: url(..//images/services-1.png) no-repeat top;
}

.responsive_web {
	background: url(..//images/services-2.png) no-repeat top;
}

.web_security {
	background: url(..//images/services-3.png) no-repeat top;
}

/*Portfolio*/

.portfolio {
	background-color: #f7f7f7;
}

.portfolio .container:after {
	.clear();
}

.portfolio { 
	.post {
		margin: 0 2% 50px 0;
		padding-bottom: 30px;
		
		background: @white;
		
		.transition;

		&:hover {
			.box-shadow(0, 0, 16px, 0px, rgba(56, 61, 59, 0.4));
	 	}
		
		&:nth-of-type(3n+3) {
			margin-right: 0;
		}
	}
}

.portfolio_link {
	display: block;
	height: 301px;

	overflow: hidden;	
}

.portfolio_link img {
	.transition;
	 width: 100%;

	&:hover {
		.transform_scale(1.10,1.10);
	}
}

.portfolio_name {
	padding-top: 20px;
	
	font: bold 18px @montserrat; 
}

.portfolio_subname {
	padding-top: 5px;
	
	font: 16px @droid;
	color: @grey;
}

/*About Us*/

.aboutus {
	background-color: @white;
 }

.aboutus_item:after {
	.clear();
}

.left_article {
	width: 35%;
	float: left;
	
	text-align: right;
}

.right_article { 
	width: 35%;
	float: right;
	
	text-align: left;
}

.aboutus_title {
	font: bold 18px @montserrat;
	line-height: 1.5; 
}

.aboutus_text {
	font: 14px @roboto;
	color: @grey;
	line-height: 1.5;
	
	margin-top: 6px; 
}

.aboutus_text span a {
	color: #0183af; 

	&:hover {
		color: lighten(#0183af, 10%);
	}
}

.aboutus_image {
	width: 30%;	

	img {
		border: 7px solid #f1f1f1;
		.radius (50%);
	}

	&:after {
		display: block;
		content: '';

		height: 94px;
		width: 3px;
		background: #f1f1f1;
		
		margin: 0 auto;
	}
}

.left_image {
	float: left;	
}

.right_image {
	float: right;
}

.image_link {
	position: relative;
	margin: 0 auto;
	display: block;
	height: 182px;
	width: 182px;

}

.mask {
	position: absolute;
    top: 0;
	height: 182px;
	width: 182px;
	text-align: center;

	background: rgba(0, 0, 0, 0.6);
	
	.opacity(0);
	.radius(50%);
	.transition(all, 0.4s, ease-in-out, 0s);		
}

.mask:hover {
	.opacity(1);	
}

.last-mask {
	top: 1px;
}

.mask_item {
	position: absolute;
	top: 55px;
    left: 40px;
	width: 100px;
    
    font: 16px @montserrat;
    color: @white;
	
    .transition (all, 0.3s, linear, 0s);
	visibility: hidden;
}

.left_mask {
	.transform_translateX (100%);
}

.right_mask {
	.transform_translateX (-100%);
}

.mask_item_info {
	position: absolute;
	top: 80px;
    left: 42px;
	width: 100px;
    
    font: 16px @montserrat;
    color: @white;
	
    .transition (all, 0.3s, linear, 0.2s);
	visibility: hidden;

	.transform_translateY (200%);
}

.last-mask_item {
	top: 53px;
}

.image_link:hover .mask_item {
	visibility: visible;

	.transform_translateX(0);
}

.image_link:hover .mask_item_info {
	visibility: visible;

	.transform_translateY(0);
}

.aboutus_link {
	height: 170px;
	width: 170px;
	border: 7px solid #f1f1f1;
	background-color: #fed136;
	
	margin: 0 auto;
	
	.radius (50%);
	.transition(all, 0.4s, ease-in-out, 0s); 
	
	&:hover {
		background-color: #e0af07;
	}
}

.aboutus_link_item {
	display: block;
	
	font: bold 18px/1.5 @montserrat;
	color: @white;
	text-transform: uppercase;
	
	padding-top: 35px;
}

/*Team*/

.team {
	background-color: #f7f7f7;
}

.team { 
	.post {
		margin-right: 1%;
	}
}

.team {
	.post img {
		height: auto;
		max-width: 100%;
		.radius(50%);
	} 
}

.our_amazing_team_item {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

.team_name {
	font: bold 16px @montserrat;

	padding: 15px 0 5px 0;
}

.profession {
	font: 14px @roboto;
	color: @grey;	
}

.social {
	padding-top: 10px;
}

.social_item {
	width: 64%;
	margin: 50px auto 0;

	font: 16px @roboto;
	color: @grey;
	line-height: 1.5;
}

/*Clients*/

.clients {
	background: @white;
}

.clients {
	.container {
		padding: 40px 0;
		text-align: center;
	}
}

.clients_link {
	vertical-align: middle;
	display: inline-block;
	
	padding: 10px 30px;
	
	.transition;

	&:hover {
		.box-shadow(0, 0, 16px, 0px, rgba(56, 61, 59, 0.4));
		.radius(5px);
	} 
}
						
/*Contact*/

.contact {
	color: @white;
	background-color: #222222;
	background: url(..//images/map.png) no-repeat center;
	background-size: cover;
}

.contact_item:after {
	.clear();
	width: 900px;
}

.contact_column_text {
	width: 48%;
	float:left;	
}

.text_input {
	background: @white;
	width: 100%;
	height: 50px;
	display: block;
	
	font: bold 17px @roboto;
	color: @grey;
	border: 1px solid #cccccc;
	
	margin-bottom: 30px;
	padding: 15px 20px;
	
	box-sizing: border-box;
	.radius (4px);

	.transition(box-shadow, 0.3s, linear, 0s);
	resize: none;
}

.text_input:focus {
	.box-shadow (1px, 1px, 7px, 4px, rgba(235,26,26,1));
}

.text_input::-webkit-input-placeholder {
	.placeholder-style;
}

.text_input::-moz-placeholder {
	.placeholder-style;
}

.text_input:-ms-input-placeholder {
	.placeholder-style;
}

.text_input:focus::-webkit-input-placeholder {
	color: transparent;
}

.text_input:focus::-moz-placeholder {
	color: transparent;
}

.text_input:focus::-ms-input-placeholder {
	color: transparent;
}

.contact_column_area {
	float:right;
	width: 48%;
}

.textarea_input {
	background: @white;
	width: 100%;
	height: 210px;
	display: block;
	
	font: bold 17px @roboto;
	color: @grey;
	border: 1px solid #cccccc;
	
	margin-bottom: 30px;
	padding: 15px 20px;
	
	box-sizing: border-box;
	.radius (4px);
	
	.transition(box-shadow, 0.3s, linear, 0s);

	resize: none;	
}

.textarea_input:focus {
	.box-shadow (1px, 1px, 7px, 4px, rgba(235,26,26,1));
}

.textarea_input::-webkit-input-placeholder {
	.placeholder-style;
}

.textarea_input::-moz-placeholder {
	.placeholder-style;
}

.textarea_input:-ms-input-placeholder {
	.placeholder-style;
}

.textarea_input:focus::-webkit-input-placeholder {
	color: transparent;
}

.textarea_input:focus::-moz-placeholder {
	color: transparent;
}

.textarea_input:focus::-ms-input-placeholder {
	color: transparent;
}

/*Footer*/

.footer {
	background-color: @white;
	
	padding: 25px 0;
}

.footer_item {
	&:after {
		.clear();
	}
}

.copyright {
	float: left;
	margin-top: 11px;
	
	font: 14px @montserrat;
	color: #818181;
}

.social_footer {
	float: left;
	margin-left: 11%;
}

					
/*Responsive*/

@media screen and (max-width: 940px) {
	.portfolio {
		
		.post:nth-of-type(3n+3) {
			margin-right: 2%;
		} 
	}
}

@media screen and (max-width: 768px) { 
	.headline span {
		font-size: 22px;
	}
	
	.menu {
		float: none;
		position: absolute;
	    width: 100%;
	    left: 0;
	    top: 70px;
	}

	#icon_menu {
		display: block;
		float: right;
	}

	.menu_list {
		background: rgba(126,126,126, 0.8);
		border: 2px solid #000;
		display: none;
	}

	.menu_list_item {
		display: block;
		padding: 10px 0;
		border-bottom: 2px solid #000;
	}

	.menu_list_item:last-child {
		border-bottom: none;
	}
	
	.banner_slogan {
		margin-top: 170px;
	}

	.aboutus_image {
		img {
			height: auto;
			max-width: 100%;
		}
		
		&:after {
			display: none;
		}
	}
	
	.aboutus_item {
		margin-bottom: 35px;
	}
	
	.left_article {
		width: 68%;
		float: right;
		margin-top: 18px;

		text-align: left;
	}
	
	.left_image {
		float: right;
		margin-right: 2%
	}
	
	.right_article {
		width: 68%;
		float: left;
		margin-top: 18px;

		text-align: right;
	}
	
	.right_image {
		float: left;
		margin-left: 2%;
	}
}

@media screen and (max-width: 680px) { 

	.post {
		width: 45%; 
	}

	.portfolio{
		.post:nth-of-type(2n+2) {
			margin-right: 0;
		} 
	}

	.right_article, .left_article {
		margin: 0 0 0 5%;
		float: right;
		width: 65%;

		text-align: center;
	}
	
	.right_image, .left_image {
		float: right;
		margin: 0;
	}

	.image_link {
		width: 100%;
	}
	
	.mask {
		display: none;
	}

	.contact_column_text, .contact_column_area {
		float: none;
		width: 100%;
	}

	.footer_item {
		text-align: center;
	}

	.copyright {
		float: none;
		width: 100%;	
	}

	.social_footer {
		float: none;
		width: 100%;
		margin: 10px 0 0 0;
	}
}

@media screen and (max-width: 480px) { 
	.container {
		.post {
			width: 70%; 
			margin: 0 0 25px;
		}	
	}

	.aboutus_image {
		width: 100%;
		margin-top: 10px;

		img {
			.radius (0);
		}
	}

	.aboutus_link {
		display: none;
	}
	
	.right_article, .left_article {
		margin: 0;
		width: 100%;
	}
			
	.button {
	  	height: 45px;
		 width: 200px;
	}
}	

@media screen and (max-width: 320px) { 
	.container { 
		.post {
			width: 90%; 
		}
	}
}	
